
.css-register-ct {
   


}

.css-register-ct-image{
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    width: 100;
}

.test {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

}



.css-register-ct-left-text-ct { 
    position: absolute;
    top: 250px;
    margin-left: 100px;
    height: 300px;
    width: 500px;
   
   
 
}

.css-register-ct-left-text-ct-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    filter: brightness(200%);
			top: 40%;
			left: 40%;

			font-size: 40px;
			font-family: Arial, Helvetica, sans-serif;
			background: linear-gradient(to right, #00A6D7, #9edcfca7);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
    
}

.css-register-ct-left-text-ct-title-underline {
    width: 80%;
    margin: 0 auto; 
    height: 2px; /* Adjust the height of the line as needed */
    background-color: #fff; /* Adjust the color of the line as needed */
  }

  .css-register-ct-left-text-ct-display-ct {
    width: 400px;
    height: 200px;
    
    margin-left: 50px;
    margin-top: 30px;
  }

  .css-register-ct-left-ct-display-ct-header {
    font-weight: bold;
    background: linear-gradient(to right, #00A6D7, #30E7ED);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
            font-size: 28px;
			font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    
    
  }

  .css-register-ct-left-ct-display-ct-header-text {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;

  }

  .css-register-ct-right {
    width: 600px;
    height: 500px;
  /*  background-color: #ff105f; */
    position: absolute;
    top: 200px;
    right: 50px;
  }

  .css-register-ct-right-ct-form {
    width: 550px;
    height: 480px;
    background-color: #fff;
    margin-left: 25px;
    margin-top: 10px;
  }

  .css-register-ct-right-ct-form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-right: 180px;
    background: linear-gradient(to right, #00A6D7, #30E7ED);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
    


  }
  .css-styling-register-ct-form-input-username,
  .css-styling-register-ct-form-input-email,
  .css-styling-register-ct-form-input-full-name,
  .css-styling-register-ct-form-input-last_name,
  .css-styling-register-ct-form-input-company {
    border: 2px solid #3498db;
    margin-bottom: 12px;
  }
  
  .css-styling-register-ct-form-input-username[style*="2px solid red"],
  .css-styling-register-ct-form-input-email[style*="2px solid red"],
  .css-styling-register-ct-form-input-full_name[style*="2px solid red"],
  .css-styling-register-ct-form-input-last_name[style*="2px solid red"],
  .css-styling-register-ct-form-input-company[style*="2px solid red"] {
    border: 2px solid red;
  }
  
  .css-styling-register-ct-form-input-username[style*="2px solid #3498db"]:focus,
  .css-styling-register-ct-form-input-email[style*="2px solid #3498db"]:focus,
  .css-styling-register-ct-form-input-full_name[style*="2px solid #3498db"]:focus,
  .css-styling-register-ct-form-input-last_name[style*="2px solid #3498db"]:focus,
  .css-styling-register-ct-form-input-company[style*="2px solid #3498db"]:focus {
    border: 2px solid #3498db;
    outline: none;
  }
.select-something {
    margin-bottom: 12px;
}

.select-something select {
    width: 100%;
    border: 2px solid red; /* Customize the border color for the dropdown */
    border-radius: 1px;
}

  .testing-container {
    width: 520px;
    height: 460px;
   /* background-color: grey;*/
    margin-left: 15px;
    margin-bottom: 50px;

  }

  .testing-container-colum-left {
    /*background-color: #fff;*/
    width: 250px;
    height: 100%;
    float: left;
  }

  .testing-container-colum-right {
   float: right;    
  /* background-color: yellowgreen;*/
   width: 250px;
   height: 100%;
  }

  .css-styling-register-ct-form-text-username {
    padding: 4px 0px;
    font-size: 15px;
    font-weight: bold;
  }
  .css-styling-register-ct-form-text-email {
    padding: 5px 0px;
    font-size: 15px;
    font-weight: bold;
  }

  .css-styling-register-ct-form-text-first-name {
    padding: 5px 0px;
    font-size: 15px;
    font-weight: bold;
  }

  .css-styling-register-ct-form-text-last-name {
    padding: 5px 0px;;
    font-size: 15px;
    font-weight: bold;
  }


  .css-styling-register-ct-form-input-username {
    border: 2px solid #3498db;
    margin-bottom: 12px;
  }

  .css-styling-register-ct-form-input-email {
    border: 2px solid #3498db;
    margin-bottom: 12px;
  }

  .css-styling-register-ct-form-input-first_name {
    border: 2px solid #3498db;
    margin-bottom: 12px;
  }

  .css-styling-register-ct-form-input-last_name {
    border: 2px solid #3498db;
    padding: -5px 0px;
  }

  .css-styling-register-ct-form-input-company {
    border: 2px solid #3498db;
    margin-bottom: 20px;

  }

  .select-something {
    margin-bottom: 12px;
  }
  
  .select-something select {
    width: 100%;
   
    border: 2px solid #3498db;
    border-radius: 1px;
  }

  .css-styling-register-container-form-signin-button {
    position: absolute;
    bottom: 110px;
  }

  