.test77 {
    border: 2px solid #3498db;
margin-bottom: 12px;
}
.oops {
    color: red;
    display: none;
    font-size: 10px;


}


input:invalid[focused="true"] ~ .oops {
    display: block;
  }

input:invalid[focused="true"] {
    border: 2px solid red;
  }

  .formInput{
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  

  .select-something select:focus {
    outline: none; 
    border: 2px solid #3498db;
  }
  
  .select-something.invalid select,
  .select-something.invalid2 select,
  .select-something.invalid3 select {
    border: 2px solid red;
  }
  
  .select-something.invalid .oops,
  .select-something.invalid2 .oops,
  .select-something.invalid3 .oops {
    display: block;
    color: red;
  }

  .error-highlight {
    border: 2px solid red;
    /* Add any additional styles for highlighting */
  }

  input:valid[focused="true"] ~ .oops {
    display: block;
  }


