.ct-fullscreen-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 4px;
}

.ct-fullscreen-image {
    width: 100%;
    height: 500px;
    object-fit: cover; /* This ensures the image covers the entire area without distortion */
   
}

.ct-fullscreen-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the last value to make the image darker or lighter */
  
}

.ct-bottom-screen {
    width: 100%;
    height: 400px;
}


.ct-home-intro-text {
    position: absolute;
    top: 5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.ct-home-intro-text-1 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.ct-home-intro-text-2 {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}

.ct-home-intro-text-3 {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.ct-home-intro-text-5 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-decoration: underline;

}

.ct-form-container {
    width: 100%;
    margin-top: -40px;
}

.ct-form-container-expand {
    background-color: #fff;
    height: 500px;
    position: absolute;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns children to the start of the container */
    width: 65%;
    padding: 20px; /* Adds some space around the form */
}

.ct-form-container-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    margin-top: -100px;
    margin-left: 40px;
}

/* inputs */
.input1-title {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 80px;

}

.input2-title {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.input3-title {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input4-title {
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input1-input {
    width: 250%;
    height: 40px;
    border: solid 1px gray;
}

.input2-input {
    width: 250%;
    height: 40px;
    border: solid 1px gray;
}

.input3-input {
    width: 250%;
    height: 40px;
    border: solid 1px gray;
}

.input4-input {
    width: 275%;
    height: 70px;
    border: solid 1px gray;
    resize: none;

}

.ct-form-container-seperator {
    position: relative;
     height: 400px; /* Adjust as needed */
     border-left: 1px solid black; /* Adjust color as needed */
     left: 340px;
  
}

.ct-form-container-info {
   
    width: 300px;
    height: 400px;
    position: absolute;
    top:25%;
    left: 59%;
}

.ct-form-container-info-title {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.ct-free-estimate-button {
    @apply text-white px-4 py-2  border focus:outline-none;
    margin-right: 15px;
    left: 9px;
    padding: 5px 25px;
     position: relative;
     margin-top: 20px;
    border-radius: 10px;
    border-color: red;
    background-color: red;
}

.ct-styling-phone-icon {
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    top: 12%;
    left: -145px;
}

.ct-phone-number {
    color: black;
    padding-top: 2px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    left: 40px;
    margin-top: 20px
    
}

.ct-styling-clock-icon {
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    margin-top: 20px;
    left: 18px;
    
}

.ct-styling-clock-open {
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    margin-top: -30px;
    left: 40px;
}

.ct-styling-clock-text {
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    left: 40px;
}

.ct-location {
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    margin-top: 20px;
    left: 18px;
}

.ct-location-text {
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    margin-top: -30px;
    left: 40px;
}

.ct-styling-license {
    color: black;
    padding-top: 5px;
    padding-right: 8px;
    position: relative;
    margin-top: 10px;
    left: 18px;
}

.review-button-image {
    width:70%;
    margin-left: 20px;
    margin-top: 20px;

}

.ct-policy-text {
    color: black;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: -25px

}

@media (max-width: 1470px) {
    .ct-form-container-seperator {
        position: relative;
         height: 400px; /* Adjust as needed */
         border-left: 1px solid black; /* Adjust color as needed */
         left: 310px;
      
    }
  }

  @media (max-width: 1358px) {
    .ct-form-container-seperator {
        position: relative;
         height: 400px; /* Adjust as needed */
         border-left: 1px solid black; /* Adjust color as needed */
         left: 290px;
      
    }
  }

  @media (max-width: 1290px) {
    .ct-form-container-seperator {
        position: relative;
         height: 400px; /* Adjust as needed */
         border-left: 1px solid black; /* Adjust color as needed */
         left: 230px;
      
    }
    .input1-input {
        width: 200%;
        height: 40px;
        border: solid 1px gray;
    }
    .input2-input {
        width: 200%;
        height: 40px;
        border: solid 1px gray;
    }
    .input3-input {
        width: 200%;
        height: 40px;
        border: solid 1px gray;
    }
    .input4-input {
        width: 220%;
        height: 40px;
        border: solid 1px gray;
    }
  }

  @media (max-width: 1170px) {
    .ct-form-container-seperator {
        position: relative;
         height: 400px; /* Adjust as needed */
         border-left: 1px solid black; /* Adjust color as needed */
         left: 200px;
      
    }
}

@media (max-width: 1070px) {
    .ct-form-container-info {
        display: none;
      
    }
}

@media (max-width: 800px) {
    .ct-form-container-seperator {
        display: none;
      
    }
}

@media (max-width: 700px) {
    .input1-input {
        width: 150%;
        height: 40px;
        border: solid 1px gray;
    }
    .input2-input {
        width: 150%;
        height: 40px;
        border: solid 1px gray;
    }
    .input3-input {
        width: 150%;
        height: 40px;
        border: solid 1px gray;
    }
    .input4-input {
        width: 165%;
        height: 40px;
        border: solid 1px gray;
    }
}

@media (max-width: 550px) {
    .input1-input {
        width: 100%;
        height: 40px;
        border: solid 1px gray;
    }
    .input2-input {
        width: 100%;
        height: 40px;
        border: solid 1px gray;
    }
    .input3-input {
        width: 100%;
        height: 40px;
        border: solid 1px gray;
    }
    .input4-input {
        width: 110%;
        height: 40px;
        border: solid 1px gray;
    }
    .ct-policy-text {
        color: black;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translate(-50%, -50%);
        left: 50%;

        margin-top: -35px;
        font-size: 9px;
    }
}

@media (max-width: 450px) {
    .input1-input {
        width: 80%;
        height: 40px;
        border: solid 1px gray;
    }
    .input2-input {
        width: 80%;
        height: 40px;
        border: solid 1px gray;
    }
    .input3-input {
        width: 80%;
        height: 40px;
        border: solid 1px gray;
    }
    .input4-input {
        width: 85%;
        height: 40px;
        border: solid 1px gray;
    }
    .ct-policy-text {
        color: black;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translate(-50%, -50%);
        left: 50%;

        margin-top: -35px;
        font-size: 9px;
    }
}

@media (max-width: 340px) {
    .ct-form-container {
        width: 100%;
        margin-top: -10px;
    }
    .ct-form-container-expand {
        background-color: #fff;
        height: 400px;
        position: absolute;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Aligns children to the start of the container */
        width: 65%;
        padding: 20px; /* Adds some space around the form */
    }

    .ct-policy-text {
        color: black;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translate(-50%, -50%);
        left: 50%;

        margin-top: -35px;
        font-size: 9px;
    }
}

.ct-form-submit {
    background-color: #4CAF50 !important; /* Green background */
    color: white; /* White text */
    padding: 10px 24px; /* Padding */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor on hover */
    width: 100%; /* Full width */
    opacity: 0.9; /* Slightly see-through */
    transition: opacity 0.3s ease; /* Transition effect */
    margin-top: 10px;
    border-radius: 2%;
}

.ct-form-submit:hover {
    opacity: 1; /* Fully opaque on hover */
}